//menu
.nav {
	position: relative;

	&__drawer {
		background-color: get-color(light);
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        transform: translateX(100%);
        transition: transform .25s cubic-bezier(.65,0,.35,1);
        width: 100%;
        z-index: 5;

        &.-is-active {
            transform: translateX(0%);
        }
	}

	.line {
		background: get-color(dark);
		height: 2px;
		width: 1.5rem;
		display: block;
		margin: 0.25rem 0;
	}

	&__button {
		border: 0;
		background-color: transparent;
		padding: 0.25rem;
	}

	&__list {
		display: flex;
		padding: 0;
		margin: 0;
		flex-wrap: wrap;
		list-style: none;
		flex-direction: column;
		align-items: center;

		> * {
			position: relative;
		}
	}

	a {
		padding: 0 1em;
		line-height: 1.5;
		color: get-color(neutral-dark);
		font-weight: 700;
		font-size: 1.5rem;

		&:hover {
			color: get-color(dark);
		}

		&[data-state='active'],
    	&[aria-current='page'] {
			color: get-color(dark);
		}
	}

	.has-child > a::after {
		content: "";
		font-family: "fontawesome";
		margin-left: 4px;
	}

	@include media-query(medium) {

		&__button {
			display: none;
		}

		&__drawer {
			position: relative;
			transform: translateX(0);
		}

		&__list {
			flex-direction: row;
		}

		a {
			font-size: 1rem;
		}
	}
}

//dropdown
#menu ul ul {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: calc(100% + 23px);
  z-index: 2;
  width: 220px;
  text-align: left;
  padding: 15px 20px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);

  @include trns;

  &::after {
    content: "";
    border: 8px solid transparent;
    border-bottom-color: #fff;
    left: 25px;
    top: -16px;
    position: absolute;

    @include trns;
  }

  &::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 100%;
    left: 0;
    top: -20px;
  }

  li {
    display: block;

    a {
      display: block;
      font-weight: 300;
		line-height: 1.5;
      padding: 0;
      margin: 5px 0;

      @include trns;

      &:hover {
        // @extend .c3;
        color: $c1;
      }
    }
  }
}

#menu ul li:hover > ul {
  opacity: 1;
  visibility: visible;
}