/*****************************
 *   01. header
 ***************************** */

.site-head {
	background-color: $c5;
	padding: 1.125rem 0;

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
}

.logo {
    height: 2.5rem;

    img {
    max-height: 100%;
    }

    @include mq(medium) {
        height: 3.5rem;
    }
}