/*****************************
 *   01. header
 ***************************** */

header {
  background-color: $c5;
  padding: 1.125rem 0;

  .row {
      align-items: center;
  }
}


.logo {
    height: 2.5rem;

    img {
    max-height: 100%;
    }

    @include mq(medium) {
        height: 3.5rem;
    }
}



.nav-column {
  padding: 5px 0;
  font-size: 16px;

  a, span, label {
    color: $c3;
    line-height: 25px;
    vertical-align: top;

    @extend .trns;

    cursor: pointer;

    &:hover {
      color: #b5c3d4;
    }
  }

  .right-nav {
    float: right;
    position: relative;

    > * {
      margin-left: .5em;
      @include trns;
    }

    span {
      padding: 0 15px;

      @include trns;
    }

    .search-icon.active {
      color: red;
    }

    .search-icon.active::before {
      content: "";
    }

    .header-social {
      display: inline-block;

      a {
        padding: 0 5px;
        vertical-align: top;
      }
    }
  }
}

form.search-form {
  position: absolute;
  right: 100%;
  top: 50%;
  z-index: 2;
  width: 230px;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;

  @include trns;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  @include mq(xsm) {
    transform: translateY(50%) translateX(0%);
    right: 50%;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}

form.search-form input {
  border: none;
  width: 100%;
  border-radius: 5px;
  height: 40px;
  text-indent: 20px;
}

form.search-form button {
  border: none;
  right: 0;
  position: absolute;
  top: 0;
  width: 38px;
  background: transparent;
  height: 100%;
}