/**
 *   SITE FOOT
 */

.site-foot {
	background-color: get-color(light);
	border-top: 1px solid get-color(neutral-dark);

	a {
		color: get-color(neutral-dark);
		padding: 0 1rem;

		&:hover {
			text-decoration: underline;
			color: get-color(dark);
		}
	}

	&__contact {
		padding: get-size('600') 0;
	}

	// TODO: margin top mobile and tablet fix
	&__widget {
		margin-top: get-size('600')
	}

	&__bottom {
		border-top: 1px solid get-color(border);
		padding: get-size('400') 0;

		> * {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.site-foot__copyright{
			color: get-color('neutral-dark');
		}
	}

	@include media-query(medium) {

		&__bottom {
			> * {
				justify-content: space-between;
			}

			.site-foot__copyright {
				margin-bottom: 0;
			}
		}
	}
}