$c1: #0069B4;
$c2: #000000;
$c3: #333333;
$c4: #f4f4f4;
$c5: #ffffff;
$c6: #666666;
$c7: #FAFAFA;
$c8: #E9F1F0;

@mixin colors($color, $class) {
  .#{$class} {
    color: $color;
  }
  .#{$class}-bg {
    background-color: $color;
  }
  .#{$class}-bo {
    border-color: $color !important;
  }
}

@include colors($c1, c1);

@include colors($c2, c2);

@include colors($c3, c3);

.trns {
  -webkit-transition: all 0.3s cubic-bezier(0.84, 0.35, 0.39, 0.74) 0s;
  transition: all 0.3s cubic-bezier(0.84, 0.35, 0.39, 0.74) 0s;
}
