$font: 'Barlow', sans-serif;

body {
  font-family: $font;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  color: $c3;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: $c2;
  margin-bottom: 1em;
  font-weight: 700;
}

ul,
ol {
  padding-left: 1em;
}

iframe {
  border: none;
}

video {
  max-width: 100%;
}

a:hover,
a:visited,
input,
input:hover,
input:focus,
input:active,
select {
  text-decoration: none;
  outline: none !important;
}

img {
  max-width: 100%;
}

a,
span {
  display: inline-block;
}

.static {
  position: static;
}

.relative {
  position: relative;
}

.highlight-text {
  color: $c1;
  display: inline;
}

/* preloader css */

.preloader {
  @include flex_center;

  height: 100%;
  width: 100%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  text-align: center;
}

.preloader-spin {
  margin: 0 auto;
  height: 35px;
  width: 35px;
  display: inline-block;
  background: transparent;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #d0d0d0 #d0d0d0 #111111 #d0d0d0;
  animation: 1s linear 0s normal none infinite running spinner_preloader;
}

@keyframes spinner_preloader {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

/* section title */

.section-title {
  text-align: center;
  // font-size: 16px;
  // color: $c3;
  margin-bottom: 30px;

  > * {
    margin: 0 0 5px;
    font-size: 2rem;
    font-weight: 900;
    color: $c2;

    @include mq(medium) {
      font-size: 2.5rem;
    }
  }

  &.white {
    color: #ffffff;

    h2 {
      color: #fff;
    }
  }
}