$base-size: 1rem;
$font-base: 'Barlow', sans-serif;

$c1: #0069B4;
$c2: #000000;
$c3: #333333;
$c4: #f4f4f4;
$c5: #ffffff;
$c6: #666666;
$c7: #FAFAFA;
$c8: #E9F1F0;

$colors: (
  "dark": hsl(210, 6%, 13%),
  "light": hsl(0, 0%, 100%),
  "primary": hsl(202, 100%, 39%),
  "primary-shade": hsl(202, 100%, 32%),
  "primary-dark": hsl(202, 100%, 24%),
  "secondary": hsl(174, 23%, 74%),
  "secondary-tint": hsl(173, 22%, 93%),
  "border": hsl(180, 2%, 90%),
  "neutral-dark": hsl(200, 2%, 35%)
);

$size-scale: (
  '300': $base-size * 0.75,
  '400': $base-size,
  '500': $base-size * 1.5,
  '600': $base-size * 2,
  '700': $base-size * 2.5,
  '800': $base-size * 3,
  '900': $base-size * 3.5,
  'major': $base-size * 4,
);

$breakpoints: (
  'medium': 'min-width: 768px',
  'large': 'min-width: 922px'
);

.trns {
  -webkit-transition: all 0.3s cubic-bezier(0.84, 0.35, 0.39, 0.74) 0s;
  transition: all 0.3s cubic-bezier(0.84, 0.35, 0.39, 0.74) 0s;
}