@import "config";
@import "mixin";
@import "functions";

// Global styles

:root {
	--flow-space: #{get-size('600')};
}

body {
	font-family: $font-base;
	font-size: get-size('400');
	line-height: 1.5;
	font-weight: 400;
	color: get-color(dark);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: get-color(dark);
	margin-bottom: 1em;
	font-weight: 700;
}

// TODO: Margin bottom kan weg wanneer bootstrap eruit is
dl,
ol,
ul,
dd,
dt {
	margin-bottom: 0;
}

ul,
ol {
  	padding-left: get-size('400');
}

dl {

	> * {
		--flow-space: #{get-size('300')};
		margin-bottom: 0;
	}
}

iframe {
  	border: none;
}

video {
  	max-width: 100%;
}

a:hover,
a:visited,
input,
input:hover,
input:focus,
input:active,
select {
	text-decoration: none;
	outline: none !important;
}

img {
	max-width: 100%;
}

a,
span {
	display: inline-block;
}

/* section title */

.section-title {
	text-align: center;
	margin-bottom: get-size('600');

	> * {
		margin: 0 0 5px;
		font-size: 2rem;
		font-weight: 900;
		color: $c2;

		@include media-query(medium) {
			font-size: 2.5rem;
		}
	}

	&.white {
		color: #ffffff;

		h2 {
			color: #fff;
		}
	}
}

// import blocks
@import 'block/faq';
@import 'block/cta';
@import 'block/hero';
@import 'block/button';
@import 'block/page-header';
@import 'block/navigation';
@import 'block/services';
@import 'block/features';
@import 'block/modal';
@import 'block/paragraph';
@import 'block/people';
@import 'block/contact';
@import 'block/site-head';
@import 'block/site-foot';
@import 'block/preloader';

// import utilities
@import 'utilities/brandline';
@import 'utilities/background';
@import 'utilities/spacing';
@import 'utilities/text';
@import 'utilities/position';
@import 'utilities/visually-hidden';
@import 'utilities/flow';