  {%- set pageTitle = title + ' - ' + site.name -%}
  {%- set pageDesc = '' -%}
  {%- set siteTitle = site.name -%}
  {%- set currentUrl = site.url + page.url -%}

  {%- if metaTitle -%}
  {%- set pageTitle = metaTitle -%}
  {%- endif -%}

  {%- if metaDesc -%}
  {%- set pageDesc = metaDesc -%}
  {%- endif -%}

  <title>{{ pageTitle }}</title>

  <!-- Site  -->
  <meta property="og:site_name" content="{{ siteTitle }}" />
  <meta property="og:title" content="{{ pageTitle }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ currentUrl }}" />

  {%- if site.authorHandle -%}
  <meta name="twitter:creator" content="@{{ site.authorHandle | replace('@', '') }}" />
  {%- endif -%}

  <!-- Meta Description -->
  {%- if metaDesc -%}
  <meta name="description" content="{{ metaDesc }}">
  <meta name="twitter:description" content="{{ metaDesc }}" />
  <meta property="og:description" content="{{ metaDesc }}" />
  {%- endif -%}

  <!-- Social images -->
  {%- if socialImage -%}
  <meta property="og:image" content="{{ socialImage }}" />
  <meta name="twitter:image" content="{{ socialImage }}" />
  <meta property="og:image:alt" content="Page image for {{ site.name }}" />
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
  {%- endif -%}

  <!-- Favicons (created with http://realfavicongenerator.net/)-->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">