{% extends "base.njk" %}

{% block content %}
    <!-- Slideshow -->
    {% include "partials/slideshow.njk" %}
    <!-- benefts -->
    {% include "partials/benefits.njk" %}
    <!-- About us -->
    {% include "partials/links.njk" %}
{% endblock content %}