.bg2 {
  background-color: $c5;
}

.bg1 {
  background-color: $c3;
}

.bg3 {
  background-color: $c7;
}

.bg4 {
  background-color: $c8;
}

/**
 * GENERATE BACKGROUND UTILITIES
 *
 * @param {string} $key - The name that you want to get
 * @param {string} $color- The color that you want to get
 *
 */
@each $key, $color in $colors {
    .bg-#{$key} {
        background: #{$color};
    }
}