.border-brand {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    height: 8px;
    width: 100%;
    background-image: linear-gradient(to right, #0080c9, #0080c9 34%, #0069b4 34%, #0069b4 67%, #004f9f 67%, #004f9f);
  }
}

.border-brand--top {

  &::after {
    top: -8px;
  }
}

.brand-line {
  position: relative;
  padding-top: 1em;

  &::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    width: 5em;
    background-image: linear-gradient(to right, #0080c9, #0080c9 34%, #0069b4 34%, #0069b4 67%, #004f9f 67%, #004f9f);
  }
}