<div class="cta">
    <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-6 text-center">
                    <h2 class="cta__title h1">Get started today!</h2>
                    <p class="">Get access now to the AGM information of 2000+ companies in 14 different countries. Or watch our 2 minute introduction video first.</p>
                    <a href="/about-us" class="button-2">Try for free</a>
                </div>
            </div>
    </div>
</div>