{% if faqItems %}
<section class="faq-area sp bg4">
    <div class="container">
        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-12 col-lg-8">
                <div class="faq">
                    {% for item in faqItems %}
                    <div class="single-item faq__item">
                        <h3 class="faq__title">
                            <button class="faq__button">
                                <span class="faq__button-text">{{ item.data.title }}</span>
                                <span aria-hidden="true" class="fa fa-chevron-down"></span>
                            </button>
                        </h3>
                        <div class="faq__content content">
                            <div class="faq__inner">
                            {{ item.templateContent | safe  }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}