<div class="faq-area sp bg3">
    <div class="container">
        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="faq">
                    {% for item in faqItems %}
                    <div class="single-item">
                        <h3 class="single-item__title">{{ item.data.title }}</h3>
                        <div class="single-item__content content">
                            {{ item.templateContent | safe  }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>