<div class="sections-area sp">
    <div class="container">
        {% if aboutTitle %}
        <div class="section-title">
            <h2>{{ aboutTitle }}</h2>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-4 col-md-6 single-service-2">
                <a href="/our-proposition" class="inner">
                    <div class="title">
                        <h4>Our proposition</h4>
                    </div>
                    <div class="content">
                        <p>AGMinfo is a new internet application that aggregates Annual General Meeting (AGM) related information of companies that are listed on public stock exchanges.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 single-service-2">
                <a href="/our-history" class="inner">
                    <div class="title">
                        <h4>Our history</h4>
                    </div>
                    <div class="content">
                        <p>AGMinfo’s roots go back to 2004 when the Foundation SECVA started to promote the digital communication between listed companies and their (prospective) shareholders.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 single-service-2">
                <a href="/people" class="inner">
                    <div class="title">
                        <h4>Our people</h4>
                    </div>
                    <div class="content">
                        <p>AGMinfo was founded on October 7th 2014 by Robert Rinnooy Kan, Willem van Santen and seven other co-founders.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>