<header class="site-head">
    <div class="container">
        <div class="site-head__inner">
            {%- if page.url == '/' -%}
            <div class="logo">
                <img src="/assets/img/logo.png" alt="logo AGMinfo">
            </div>
            {%- else -%}
            <a href="/" class="logo">
                <img src="/assets/img/logo.png" alt="logo AGMinfo">
            </a>
            {%- endif -%}
            {% include 'partials/nav.njk' %}
        </div>
    </div>
</header>