<footer class="site-foot">
    <div class="site-foot__contact">
        <div class="container">
            <h2 class="visually-hidden">Contact info</h2>
            <div class="row flow">
                <div class="col-md-6 col-lg-3 site-foot__widget">
                    <div class="inner">
                        <h3 class="h5 site-foot__title">Visit</h3>
                        <dl class="flow">
                            <dt class="visually-hidden">Company</dt>
                            <dd>{{ settings.companyName }}</dd>
                            <dt class="visually-hidden">Address</dt>
                            <dd>{{ settings.address }}</dd>
                            <dt class="visually-hidden">Postal code</dt>
                            <dd>{{ settings.postalCode }}</dd>
                            <dt class="visually-hidden">Country</dt>
                            <dd>{{ settings.country }}</dd>
                        </dl>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 site-foot__widget">
                    <div class="inner">
                        <h3 class="h5 site-foot__title">Email</h3>
                        <p>{{ settings.email }}</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 site-foot__widget">
                    <div class="inner">
                        <h3 class="h5 site-foot__title">Telephone</h3>
                        <p>{{ settings.phoneNumber }}</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 site-foot__widget">
                    <div class="inner">
                        <h3 class="h5 site-foot__title">Follow us</h3>
                        {%- if settings.social -%}
                        <ul class="nav footer_widget__social">
                            {%- for link in settings.social -%}
                            <li class="nav-item">
                                <a href="{{ link.url }}" target="_blank" class="nav-link">
                                    <span class="visually-hidden">{{ link.text }}</span>
                                    <i class="fa fa-{{ link.icon }}"></i>
                                </a>
                            </li>
                            {%- endfor -%}
                        </ul>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-foot__bottom">
        <div class="container">
            <p class="site-foot__copyright">
                &copy; {{ helpers.currentYear() }} {{ settings.companyName }} All Rights Reserved.
            </p>
            <nav class="site-foot__nav">
                <a href="/terms-and-conditions">Terms &amp; conditions</a>
            </nav>
        </div>
    </div>
</footer>