<div class="hero-slider">
    <div class="single-slide" style="background-image: url(/assets/img/hero/{{backgroundImage}})">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="slide-content border-brand-bottom">
                            <h1 class="">{{ title }}</h1>
                            <p>{{ description }}</p>
                            <div class="slide-btn">
                                <a href="/about-us" class="button-2">Read more about us</a>
                                <button class="button-2" data-toggle="modal" data-target="#videoModal">Watch AGMinfo video</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>